<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理画面 - お問い合わせ詳細 -</title>
    <link href="/Honoka-master/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>管理画面 - お問い合わせ詳細 -</h1>
      <dl class="dl-horizontal">
{% for key, item in detail %}
        <dt>件名</dt>
        <dd>{{ item.title_jp|e }}</dd>
        <dt>お名前</dt>
        <dd>{{ item.name|e }}</dd>
        <dt>メールアドレス</dt>
        <dd>{{ item.address|e }}</dd>
        <dt>電話番号</dt>
        <dd>{{ item.tel|e }}</dd>
        <dt>お問い合わせ内容</dt>
        <dd>{{ item.content|e }}</dd>
        <dt>送信日時</dt>
        <dd>{{ item.timestamp|e }}</dd>
{% endfor %}
      </dl>
      <a class="btn btn-default" href="javascript:history.back();" role="button">戻る</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Honoka-master/dist/js/bootstrap.min.js"></script>
  </body>
</html>
