<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理画面 - お問い合わせ一覧 -</title>
    <link href="/Honoka-master/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>管理画面 - お問い合わせ一覧 -</h1>
      {{ pagination|raw }}
      <form class="form-horizontal" action="/admin/detail" method="post">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>件名</th>
              <th>名前</th>
              <th>メールアドレス</th>
              <th>送信日時</th>
            </tr>
          </thead>
          <tbody>
{% for key, item in list %}
            <tr>
                <td>
                    <a class="btn btn-default" href="/admin/detail/{{ item.id|e }}" role="button">#{{ key + 1 }}</a>
                </td>
                <td>{{ item.title_jp|e }}</td>
                <td>{{ item.name|e }}</td>
                <td>{{ item.address|e }}</td>
                <td>{{ item.timestamp|e }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Honoka-master/dist/js/bootstrap.min.js"></script>
  </body>
</html>
